

.low-usage {
  color: #355C7D;
}

.medium-usage {
  color: #000000;
}

.high-usage {
  color: #F8B195;
}

.btn {
  background-color: #F67280 !important;
}

.btn-floating {
  background-color: #F8B195 !important;
}
