
body {
  background: url('https://i.imgur.com/gzIWLqC.jpg?1')
}

.low-usage {
  color: #355C7D;
}

.medium-usage {
  color: #000000;
}

.high-usage {
  color: #F8B195;
}

.btn {
  background-color: #F67280 !important;
}

.btn-floating {
  background-color: #F8B195 !important;
}

.card-panel {
  width: 180px;
  background-color: white;
}

h1 {
  font-family: 'Lobster', cursive;
}

.link {
  color: black;
}
.grid-container {
  position: fixed;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
